---
const {homepage} = Astro.props;
---
<header class="fixed top-0 left-0 z-50 flex flex-col items-center w-full px-4 pt-4 bg-gray-900 bg-opacity-90 firefox:bg-opacity-100 sm:flex-row sm:px-16 h-28 sm:h-22 sm:pt-0 backdrop-filter backdrop-blur-lg">
    <a href={homepage ? '/#top' : '/'} class="flex items-center justify-center w-full pb-2 text-white sm:pb-0 sm:w-auto 3xl:ml-2">
        <div class="flex-shrink-0 mr-4 overflow-hidden rounded-full">
            <img src="/danek.jpg" width="1120" height="880" class="object-cover w-8 h-8 overflow-hidden rounded-full sm:w-12 sm:h-12">
        </div>
        <h1 class="flex-shrink-0 mr-4 font-medium tracking-tighter uppercase">Dan Kalivoda</h1>
    </a>
    <nav class="flex items-center w-full mt-auto text-sm text-gray-400 flex-nowrap sm:w-auto sm:ml-auto sm:-mr-4 sm:mt-0 3xl:mr-0">
        <a href="/#portfolio" class="flex items-center justify-center w-1/4 p-4 transition-colors duration-150 ease-in-out hover:text-white">Portfolio</a>
        <a href="/#sluzby" class="flex items-center justify-center w-1/4 p-4 transition-colors duration-150 ease-in-out hover:text-white">Služby</a>
        <a href="/#klienti" class="flex items-center justify-center w-1/4 p-4 transition-colors duration-150 ease-in-out hover:text-white">Klienti</a>
        <a href="/#kontakt" class="flex items-center justify-center w-1/4 p-4 transition-colors duration-150 ease-in-out hover:text-white">Kontakt</a>
    </nav>
</header>
