<div
    class="fixed inset-0 z-0 flex flex-col min-h-screen transform-gpu"
    x-bind:class="[
        animateContent ? 'transition-all duration-700 delay-500' : 'transition-none',
        content === 'visible' ? 'opacity-100 scale-100' : 'opacity-0 scale-75'
    ]"
>
    <div class="flex items-center justify-center flex-grow w-full px-4 sm:px-16">
        <div class="flex flex-col w-full text-center sm:text-left sm:mx-auto sm:max-w-3xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl">
            <h2 class="py-2 text-2xl font-bold tracking-tighter text-transparent uppercase bg-gradient-to-tr from-blue-500 to-green-300 sm:text-5xl lg:text-7xl xl:text-8xl bg-clip-text">
                Designer &amp; Developer</h2>
            <p class="max-w-3xl text-lg font-light leading-relaxed tracking-tight xl:leading-9 lg:text-xl">
                Ahoj, jmenuji se Daniel Kalivoda a už 13 let pomáhám firmám
                <a href="https://digital.cz" class="inline-flex items-center text-white hover:text-blue-400">Digital&nbsp;Solutions<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://tlapnet.cz" class="inline-flex items-center text-white hover:text-blue-400">Tlapnet<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://ispa.cz" class="inline-flex items-center text-white hover:text-blue-400">ISP&nbsp;Alliance<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://www.pearshealthcyber.com" class="inline-flex items-center text-white hover:text-blue-400">Pears&nbsp;Health&nbsp;Cyber<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://www.mcorecode.com" class="inline-flex items-center text-white hover:text-blue-400">mCoreCode<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://mojevestra.cz" class="inline-flex items-center text-white hover:text-blue-400">Vestra Clinics<span class="w-3 h-3 mx-3 wave"></span></a>
                <a href="https://nx1.cz/" class="inline-flex items-center text-white hover:text-blue-400">Netrix One<span class="w-3 h-3 mx-3 wave"></span></a> <br class="hidden sm:inline lg:hidden">a dalším,
                s designem a vývojem webových a mobilních aplikací.
            </p>
        </div>
    </div>
</div>
<div
    class="w-full min-h-screen"
>
        <div
            class="absolute top-0 left-0 w-full pointer-events-none"
            x-intersect:enter="header = 'default'"
        >
        </div>
</div>
