---
import AMenuLink from "../atoms/a_menulink.astro";
---
<nav class="flex items-center w-auto ml-auto text-gray-600 flex-nowrap sm:-mr-4 sm:mt-0 3xl:mr-0">
    <AMenuLink link="/#projekty">Projekty</AMenuLink>
    <AMenuLink link="/#sluzby">Služby</AMenuLink>
    <AMenuLink link="/#klienti">Klienti</AMenuLink>
    <AMenuLink link="/#kontakt">Kontakt</AMenuLink>
</nav>
