---
import OHeader from '../components/organisms/o_header.astro'
const {title, description, homepage} = Astro.props;
---
<html lang="cs">
  <head>
    <meta charset="UTF-8">
    <title>{title}</title>
    <meta name="description" content={description}>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../assets/css/global.css")}>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script defer type="module" src={Astro.resolve("../assets/js/global.js")}></script>
  </head>
  <body x-data={"header()"}>
    <OHeader homepage={homepage} />
    <slot name="beforeContent"/>
    <slot />
    <slot name="afterContent"/>
  </body>
</html>
